<ion-header [ngClass]="{'freshMint': tema == 'freshMint', 'summerWine': tema == 'summerWine', 'pinkWine': tema == 'pinkWine'}">
  <ion-toolbar>
    <ion-title>Agregar un cliente</ion-title>
    <ion-button (click)="cerralModal()" slot="end" color="danger"
    ><ion-icon name="close-outline"></ion-icon
  ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'freshMint': tema == 'freshMint', 'summerWine': tema == 'summerWine', 'pinkWine': tema == 'pinkWine'}">
  <form action="" [formGroup]="form">
    <ion-row class="rowTitle">
      <ion-col class="title" size="12">
        <ion-card>
          <ion-card-content>
            <span>DATOS DEL CLIENTE</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="dataCliente">
        <div class="inputs">
            <ion-card>
              <ion-label>Nombre del cliente:</ion-label>
              <ion-input placeholder="Nombre" formControlName="nombre"></ion-input>
            </ion-card>
            <ion-card>
              <ion-label>Rif o cedula:</ion-label>
              <ion-item color="transparent" style="border-right: 1px solid #2e1733;">
                <ion-select interface="popover" formControlName="selectRif">
                  <ion-select-option value="V">V</ion-select-option>
                  <ion-select-option value="J">J</ion-select-option>
                  <ion-select-option value="G">G</ion-select-option>
                </ion-select>
                -
              </ion-item>
              <ion-input placeholder="Rif o cedula" formControlName="rif" type="tel"></ion-input>
            </ion-card>
            <ion-card>
              <ion-label>Telefono de contacto:</ion-label>
              <ion-item color="transparent">
                <ion-select interface="popover" formControlName="codTelf">
                  <ion-select-option value=""></ion-select-option>
                  <ion-select-option value="58">+58</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-input placeholder="Telefono" formControlName="telf" type="number"></ion-input>
            </ion-card>
        </div>
        <div class="button">
          <ion-button [disabled]="!form.valid" (click)="crearCliente()">Agregar</ion-button>
        </div>
    </ion-row>
  </form>
</ion-content>
