
ion-header{
    ion-toolbar{
        height: 55px;
        color: white;
    }

    .cerrarSesion{
        margin-right: 10px;
        font-size: 18px;
    }
    .mesaAbierta{
        font-size: 24px;
        border-radius: 5px;
        padding: 6px 8px;
        cursor: pointer;
    }
    .paginaAnterior{
        margin-left: 10px;
        font-size: 26px;
    }
    .agregarReserva{
        font-size: 24px;
        margin-right: 15px;
        border-radius: 5px;
        padding: 6px 8px;
        cursor: pointer;
    }
    .verPrecios{
        margin-right: 15px;
        border-radius: 5px;
        padding: 6px 8px;
        cursor: pointer;
    }
    ion-text{
        margin-right: 15px; 
        align-items: center; 
        display: flex;
    }
    .iconUser{
        font-size: 22px;
        margin-right: 3px;
    }

    .nombreMesa{
        ion-icon{
            margin-left: 20px;
            margin-right: 10px;
            font-size: 30px;
        }
    }
    .verPrecios{
        margin-right: 15px;
        font-size: 18px;
        ion-icon{
            color: black;
        }
    }
}
ion-content{
    --width: 100%;
    height: 100%;
}
.nuevaCuenta{
    width: 100%;
    height: 210px;
    ion-card{
    margin-top:15px;
    margin-bottom: 15px;
    }
    .cardCrear{
        display: flex;
        justify-content: center;
        height: 40px;
        ion-card{
            width: 98%;
            margin:0;
            --min-height:40px;
            --max-height:40px;
            height: 40px;
            ion-card-content{
                display: flex;
                align-content: center;
                margin-top: -5px;
            }
        }

    }
    .botonCrear{
        margin-top: -6px;
        height: 40px; 
        ion-button{ 
            color:white;
            border-radius: 5px;
            margin-top: 10px;
        }
    }
    .cuentasExist{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        height: 40px;
        ion-card{
            width: 98%;
            margin:0;
            --min-height:40px;
            --max-height:40px;
            height: 40px;
            ion-card-content{
                display: flex;
                align-content: center;
                margin-top: -5px;
            }
        }
    }
    .opcionesCuentas{
        margin-top: -10px;
        height: 40px;
        --min-height:40px;
        --max-height:40px;

    }

}

.fila-cuentas{
    width: 100%;
    height: calc(100% - 210px);
    overflow-y: scroll;

    ion-list{
        background-color: transparent;
        width: 100%;    
        margin:0;
        padding:0;

        ion-item{
            --width: 100%;
            --min-width: 100%;
            margin: 10px 0px;
            height: 50px;
            display: flex;
            --background: transparent;
            ion-label{
                height: 100%;
                text-align: center !important;
                display: flex;
                align-items: center;
                width: 100%;
                color:whitesmoke;
            }
        }

    }
    .noComandas{
        font-size: 25px;
        margin-right: 15px;
    }
    .siComandas{
        font-size: 25px;
        margin-right: 15px;
    }
    .cuentaBloqueada{
        background-color: #222428;
    }
    .cuentaNoBloqueada{
        background-color: rgb(138, 138, 138,.7);
    }
    .pagarCuenta{
        height: 40px; 
        margin-right: 20px; 
        width: 40px;
    }
    .transladarCuenta{
        height: 40px; 
        margin-right: 20px; 
        width: 40px;
    }
    .desbloquearCuenta{
        height: 40px; 
        margin-right: 20px;
    }
    .bloquearCuenta{
        height: 40px; 
        margin-right: 20px;
    }
}



.opcionesCuentas{
    ion-button{
        font-weight: 500;
    }
}
.parpadeoAlertas{
    width: 60px;
    margin-left: 15px;
    cursor: pointer;
    animation-name: parpadeo-alertas;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
@keyframes parpadeo-alertas{
    from {transform: scale( 0.8, 0.8)}
      to {transform: scale(1, 1)}
}
