<ion-header [ngClass]="{'freshMint': tema == 'freshMint', 'summerWine': tema == 'summerWine', 'pinkWine': tema == 'pinkWine'}">
  <ion-toolbar>
    <ion-title>Contornos de la comanda</ion-title>
    <ion-button (click)="cerralModal()" slot="end" color="danger"
      ><ion-icon name="close-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'freshMint': tema == 'freshMint', 'summerWine': tema == 'summerWine', 'pinkWine': tema == 'pinkWine'}">
  <ion-grid>
    <ion-row class="rowContornosComanda">
      <ion-col>
        <ion-card *ngFor="let data of contornos">
          <ion-card-content> {{data.name}} </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
